.adminChannelForm > label  { 
  display: block;
}

.admin-content-container, .admin-modal-inner-container {
  text-align: center;
}

.admin-modal-inner-container{
  overflow-y: scroll;
}

.admin-modal-outer-container {
  max-width: none;
  width: 200rem;
}

.adminChannelTable {
  border-collapse: collapse;
}
.adminChannelTable td, .adminChannelTable th {
  border: .1rem rgba(70, 70, 70, 0.315) solid;
}
.adminChannelTable tr:hover {
  background-color: rgba(25, 72, 124, 0.459);
}

.admin-delete-confirmation{
  color: red;
}

.admin-channel-editor-table {
  border-collapse: collapse;
}
.admin-channel-editor-table td{
  line-height: 3rem;
  border: .1rem rgba(70, 70, 70, 0.315) solid;
}