.chatMessageWrapper {
    display: flex;
}
.chatMessageWrapper > div > p {
    margin: 0;
}

//TIMESTAMP
.chatMessageTimestampContainer {
    
}
@media only screen and (max-width: $horizontal-timestamp-break-point) {
    .chatMessageTimestampContainer {
        display: none;
    }
}

//USERNAME
.chatMessageUsernameContainer{
    color: $other-user;
    text-align:right;
    border-right: 1px solid $divider;
    padding-right: 5px;
    margin-right: 5px;
    min-width: 120px;
}

//MESSAGE
.chatMessageTextContainer{
    flex-grow: 1;
    width: 0px;
}
.chatMessageCurrentUser > .pUserText {
    color: $user;
}
.chatMessageCurrentUser > .pMessageText {
    color: $font-subtle;
}
.chatMessageSystemUser {
    color: $system;
}