
.leftSideContainer {
    display: flex;
    flex-direction: column;
    padding: $element-margin;
    padding-right: $element-margin-h;
    padding-right: 0;
}
// @media only screen and (max-width: $horizontal-break-point) {
//     .leftSideContainer {
//         display: none;
//     }
// }
