.ChannelPickerWrapper {
  //background-color: blue;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.ChannelPickerTitleContainer {
  background-color: $surround;
  height: 3rem;
  padding: 1rem .8rem .5rem .8rem;
  width: calc(100% - 1.5rem);
  border-radius: .4rem .4rem 0 0;
}
.ChannelPickerTitleContainer-light {
  background-color: $surround-light;
}
.ChannelPickerTitleContainer > h3 {
  margin: 0;
  text-align: center;
  color: $font-subtle;
}
.ChannelPickerTitleContainer-light > h3 {
  color: $font-subtle-light;
}

.DCPContainer {
  background-color: darken($surround, 10%);
  padding: 1rem;
  border-radius: 0 0 .4rem .4rem;
  overflow-y: auto;
  max-height: 40rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}
.DCPContainer-light {
  background-color: lighten($surround-light, 10%);
}

.DCPChannel {
  flex: 1;
  margin: .6rem;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: .2rem;
  cursor: pointer;
  padding: .8rem;
}
.DCPChannel-light {
  color: $font-default-light;
}
.DCPChannel:hover {
  background-color: $surround;
}
.DCPChannel-light:hover {
  background-color: $surround-light;
}
.DCPDisabled {
  opacity: .5;
}

.DCPChannel > p {
  margin: 0 0 0 1rem;
  display: inline-block;
}

.DCPSelected {
  color: white;
  background-color: $theme;
}
.DCPSelected:hover {
  background-color: lighten($theme, 5%);
}
@media only screen and (max-width: $width-breakpoint) {
  .ChannelPickerWrapper{
    padding: .5rem;
  }
  .ChannelPickerTitleContainer{
    height: auto;
    padding: .5rem .8rem .5rem .8rem;
  }
  .DCPContainer{
    padding: .2rem;
  }
  .DCPChannel{
    margin: .2rem;
    padding: .2rem;
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .ChannelPickerWrapper{
    padding: .5rem;
  }
  .ChannelPickerTitleContainer{
    height: auto;
    padding: .5rem .8rem .5rem .8rem;
  }
  .DCPContainer{
    padding: .2rem;
  }
  .DCPChannel{
    margin: .2rem;
    padding: .2rem;
  }
}