
.fontButton {
    font-weight: bold;
    color: $selected;
    background-color: $theme;
    border: 0;
    border-top: .2rem solid lighten($theme, 10%);
    border-bottom: .2rem solid darken($theme, 10%);
    margin: .3rem;
    border-radius: .3rem;
    height: 3rem;
}

.inputForm {
    width: 100%;
}
.inputText {
    background-color: rgba(0,0,0,0);
    color: $font-default;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 1rem;
    border: 0;
}
.inputText:focus{
    outline: none;
}