
.nickSetFailedReason {
  margin: 0 0 .5rem 0;
  text-align: center;
}

//TABS - moved to base
.login-option-container {
  transform: translateY(-1.5rem);
}

//login icon badges
.loginTabBadges {
  align-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
} .loginTabBadges > i {
  margin-top: .5rem;
  margin-right: .7rem;
}
@media only screen and (max-width: $width-breakpoint) {
  .loginTabBadges {
    display: none;
  }
}


//Guest login form
.guestNickEntry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.guestNickInputForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.guestNickInput {
  width: 32rem;
  height: 8rem;
  background-color: $surround;
  color: $font-default;
  font-size: 4rem;
  border: 0;
  padding: 0 .5rem 0 .5rem;
  text-align: center;
}
.guestNickInput-light {
  background-color: lighten($base-light, 10%);
  color: $font-default-light;
}
.guestNickSubmitButton, .loginButton {
  margin-top: 1rem;
  background: $theme;
  border: none;
  border-bottom: .6rem solid darken($theme, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
}
.guestNickSubmitButton:disabled, .loginButton:disabled {
  opacity: .5;
}
@media only screen and (max-width: $width-breakpoint) {
  .guestNickInputForm{
    margin-top: .5rem;
  }
  .guestNickInput{
    height: 3.5rem;
    font-size: 2rem;
    width: auto;
  }
  .guestNickSubmitButton, .loginButton{
    font-size: 2rem;
    padding: .5rem;
    margin-bottom: .5rem;
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .guestNickInputForm{
    margin-top: .5rem;
  }
  .guestNickInput{
    height: 3.5rem;
    font-size: 2rem;
  }
  .guestNickSubmitButton, .loginButton{
    font-size: 2rem;
    padding: .5rem;
    margin-bottom: .5rem;
  }
}

.loginFormContainer{
  text-align: center;
}
.loginInput {
  margin: 1.5rem;
  margin-top: 2.5rem;
  //display: block;
}
@media only screen and (max-height: $height-breakpoint) {
  .loginInput {
    margin: .5rem;
  }
}
@media only screen and (max-width: $width-breakpoint) {
  .loginInput {
    margin: .5rem;
  }
}
.loginMessage  {
  text-align: center;
  margin: .2rem;
  margin-left: 1rem;
}
.loginButton {
  width: auto;
}

//terms and conditions
.terms-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.terms-paragraph {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: .5rem 0 0 0;
}
@media only screen and (max-width: $width-breakpoint) {
  .terms-container{
    margin-bottom: 1.4rem;
  }
}
@media only screen and (max-height: $height-breakpoint) {
  .terms-container{
    margin-bottom: 1.4rem;
  }
}
.terms-container-user {
  justify-content: center;
}


//????
.example-enter {
  opacity: 0.01;
  width: 0px;
}
.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}
.example-leave {
  opacity: 1;
  width: 100px;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}