.UCPContainer {
  background-color: darken($surround, 10%);
  padding: 1rem;
  border-radius: 0 0 .4rem .4rem;
  overflow-y: scroll;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  max-height: 20rem;
}

.UCPChannel {
  cursor: pointer;
}
.UCPChannel:hover {
  background-color: $surround;
}

.UCPChannel > td > p {
  margin: 0 0 0 1rem; 
  display: inline-block;
}

.UCPSelected {
  color: white;
  background-color: $theme;
}
.UCPSelected:hover {
  background-color: lighten($theme, 5%);
}
