
.nickSetFailedReason {
  margin: 0 0 .5rem 0;
  text-align: center;
}

//TABS - moved to base
.loginTab {
  //text-decoration: line-through;
  cursor: not-allowed;
  color: lighten($surround, 10%);
}

//login icon badges
.loginTabBadges {
  align-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  color: lighten($surround, 10%);
  font-size: 3rem;
} .loginTabBadges > i {
  margin-top: .5rem;
  margin-right: .7rem;
}
@media only screen and (max-width: 43rem) {
    .loginTabBadges {
        display: none;
    }
}

//Guest login form
.guestNickEntry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} .guestNickInputForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
} .guestNickInput {
  width: 32rem;
  height: 8rem;
  background-color: $surround;
  color: $font-default;
  font-size: 4rem;
  border: 0;
  padding: 0 .5rem 0 .5rem;
  text-align: center;
} .guestNickSubmitButton {
  margin-top: 1rem;
  background: $theme;
  border: none;
  border-bottom: .6rem solid darken($theme, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
} .guestNickSubmitButton:disabled {
  opacity: .5;
}

.termsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.termsParagraph {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: .5rem 0 0 0;
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}
.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}
.example-leave {
  opacity: 1;
  width: 100px;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}