html {
  font-size: $default-app-size; 
  overflow: hidden;
  zoom: 1;
}

.zoom {
  zoom: 2;
  -moz-transform: scale(2);
  -moz-transform-origin: 0 0;
}

body {
  font-size: $m-size;
}

a {
  color: $font-default;
  font-weight: bold;
}
a:hover {
  color: $theme;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.buttonDefault {
  font-weight: bold;
  color: $selected;
  background-color: $theme;
  border: 0;
  border-top: .2rem solid lighten($theme, 10%);
  border-bottom: .2rem solid darken($theme, 10%);
  margin: .3rem;
  border-radius: .3rem;
}

// Mozilla you assholes https://bugzilla.mozilla.org/show_bug.cgi?id=77790
// bug open for 17 years - still unresolved
// Will show a warning to firefox users that they should use Chrome or Safari if they don't want disgusting scrollbars

// scroll bar
::-webkit-scrollbar {
  width: .5rem;
  z-index: 10; 
}

// scroll bar track
::-webkit-scrollbar-track {
  background: $scroll-track; 
  z-index: 10;
} ::-webkit-scrollbar-track:hover {
  background: $scroll-track-hover; 
  z-index: 10;
}

// scroll bar handle
::-webkit-scrollbar-thumb {
  background: $scroll-thumb; 
} ::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover; 
}

//
// MODAL TABS
//
.tabContainer {
  width: 100%;
  height: 6rem;
  display: flex;
}
.tab {
  position: relative;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  background-color: $surround;
  cursor: pointer;
}.tabSelected {
  color: $theme;
  background-color: lighten($surround, 10%);
}

//
// MODAL CONTAINERS
//
.modalWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 15; //required because there is z-indexing for the proper display of user/channel list collapse buttons
  -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.modalOuterContainer {
  position: absolute;
  width: 100%;
  max-width: 100rem;
  //height: 100%;
  display: flex;
}
.modalInnerContainer {
  flex-grow: 1;
  margin: 5%;
  background-color: $base;
  border-radius: .5rem;
  box-shadow: 0 0 5rem .1rem rgb(29, 29, 29);
}
// I had hoped it was possible to blur the background but I guess it wasn't
.modalBlurContainer {
  // display: none
  width:100%;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(99, 99, 99, 0.3);
}

//
// Style checkboxes
//
.checkBoxContainer {
  display: inline;
  position: relative;
  margin-left: .2rem;
  margin-bottom: 0rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkBoxCheckmark {
  position: absolute;
  display: inline;
  top: .6rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkBoxCheckmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkBoxCheckmark {
  background-color: $theme;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkBoxCheckmark:after {
  display: inline;
}
/* Style the checkmark/indicator */
.checkBoxContainer .checkBoxCheckmark:after {
  left: .9rem;
  top: .5rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 .3rem .3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//
// Tooltips
//

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: $surround;
  color: #fff;
  text-align: center;
  padding: .3rem 0;
  border-radius: .2rem;
  border: $element-border solid $shadow;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $surround transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}