html {
  font-size: $default-app-size; 
  overflow-x: hidden;
}

body {
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

// scroll bar
::-webkit-scrollbar {
  width: .5rem;
  z-index: 10; 
}

// scroll bar track
::-webkit-scrollbar-track {
  background: $scroll-track; 
  z-index: 10;
} ::-webkit-scrollbar-track:hover {
  background: $scroll-track-hover; 
  z-index: 10;
}

// scroll bar handle
::-webkit-scrollbar-thumb {
  background: $scroll-thumb; 
} ::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover; 
}