html {
  font-size: $default-app-size; 
  overflow: hidden;
  zoom: 1;
}

.zoom {
  zoom: 2;
  -moz-transform: scale(2);
  -moz-transform-origin: 0 0;
}

body {
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

// Mozilla you assholes https://bugzilla.mozilla.org/show_bug.cgi?id=77790
// bug open for 17 years - still unresolved
// Will show a warning to firefox users that they should use Chrome or Safari if they don't want disgusting scrollbars

// scroll bar
::-webkit-scrollbar {
  width: .5rem;
  z-index: 10; 
}

// scroll bar track
::-webkit-scrollbar-track {
  background: $scroll-track; 
  z-index: 10;
} ::-webkit-scrollbar-track:hover {
  background: $scroll-track-hover; 
  z-index: 10;
}

// scroll bar handle
::-webkit-scrollbar-thumb {
  background: $scroll-thumb; 
} ::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover; 
}


//
// Style the checkbox
//
.CheckBoxContainer {
  display: block;
  position: relative;
  margin-top: .4rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.CheckBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.CheckBoxCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.CheckBoxContainer:hover input ~ .CheckBoxCheckmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.CheckBoxContainer input:checked ~ .CheckBoxCheckmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.CheckBoxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.CheckBoxContainer input:checked ~ .CheckBoxCheckmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.CheckBoxContainer .CheckBoxCheckmark:after {
  left: .9rem;
  top: .5rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 .3rem .3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}