
.modal-fade-out {
  transform: translateY(-1.5rem);
  opacity: 0;
  transition: opacity 150ms linear, transform 150ms linear !important;  
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 15; //required because there is z-indexing for the proper display of user/channel list collapse buttons
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}
.modal-outer-container {
  width: 100vw;
  max-width: 100rem;
  display: flex;
}
.modal-inner-container {
  flex-grow: 1;
  margin: 5%;
  background-color: $base;
  border-radius: .5rem;
  box-shadow: 0 0 5rem .1rem rgb(29, 29, 29);
}
.modal-inner-container-light {
  background-color: $base-light;
  box-shadow: 0 0 5rem .1rem rgb(29, 29, 29);
}
